/C:/Users/MIGUEL-PC/Desktop/GNs Figura Libary/model_files/Uncanny/HL walter/.vscode
### VisualStudioCode ###
.vscode/**/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
